/*Обращение ко всем*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

/*Обращение к прямому потомку только
header > a
*/

/*Обращение к дочерним элементам*/
header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}

nav ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

footer {
  background: #050038;
  padding: 47px 40px;
}

footer a {
  color: white;
  text-decoration: none;
}

.sectionList {
  list-style: none;
  /*   list-style: url("../images/done-icon.svg"); */
}

.sectionList li::marker {
  content: url("../images/done-icon.svg");
}

/*обращение к элементу по ID*/
#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #071766;
}

.heroForm input {
  height: 38px;
  border-radius: 32px;
  border: 1px solid #9b99af;
  padding: 5px 10px;
}

.heroForm button {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #4262ff;
  padding: 10px 20px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText {
  color: #05003899;
  margin: 0 40px 0 0;
}

/*Указатель на соседний элемент (на p который идет за формой heroForm)*/
.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #050038;
  margin: 8px 0 52px 0;
}

/*Обращение по class*/
.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: #122db6;
}
