/*Обращение ко всем*/
* {
  font-family: "Roboto", sans-serif;
}

/*обращение к элементу по ID*/
#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #071766;
}

.heroForm input:focus {
  background-color: aliceblue;
}

/*Выбор каждого n элемента. 
odd-нечетные
even-четные
3n-каждый третий
5-конкретно пятый элемент
ul li:nth-child(odd) {
  color: #4262ff;
}
*/

/*Добавлет псевдокласс после лемента. before - до
selection - кастомизирует выделение
a::after {
  color: red;
  content: " ! ";
}
*/

/*Выбор всех p которые не являются классом className
p:not(.className){

}
*/
/*
ul li:first-child {
  color: #4262ff;
}

ul li:last-child {
  color: red;
}
*/

/*Обращение по class*/
.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: #122db6;
}
/*Обращение по типу*/
/*
input[type="email"] {
  background: red;
}
*/

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

.heroText {
  color: #050038;
}

.sectionText {
  color: #05003899;
}

/*Обращение к прямому потомку только
header > a
*/

/*Обращение к дочерним элементам*/
header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

/*Указатель на соседний элемент (на p который идет за формой heroForm)*/
.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

nav ul {
  list-style: none;
}

.sectionList {
  list-style: none;
  /*   list-style: url("../images/done-icon.svg"); */
}

.sectionList li::marker {
  content: url("../images/done-icon.svg");
}
