/*Обращение ко всем*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

h2 {
  margin: 60px 0 19px 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

/*Обращение к прямому потомку только
header > a
*/
header {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}
/*Обращение к дочерним элементам*/
header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

nav {
  padding: 33px 50px;
  margin-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  gap: 34px;
}

footer {
  background: #050038;
  padding: 47px 40px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  gap: 20px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 140px;
}

section a {
  margin: 39px;
}

.heroForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heroLogos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sectionList {
  list-style: none;
  /*   list-style: url("../images/done-icon.svg"); */
}

.sectionList li::marker {
  content: url("../images/done-icon.svg");
}

.heroForm input {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #9b99af;
  padding: 5px 10px;
}

.heroForm button {
  height: 48px;
  border-radius: 32px;
  border: 1px solid #4262ff;
  padding: 10px 20px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText {
  color: #05003899;
  margin: 0 40px 0 0;
}

/*Указатель на соседний элемент (на p который идет за формой heroForm)*/
.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #050038;
  margin: 8px 0 52px 0;
}

.section {
  display: flex;
  gap: 100px;
}

.section-reverse {
  flex-direction: row-reverse;
}
/*Обращение по class*/
.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: #122db6;
}

#hero {
  display: flex;
  gap: 65px;
}
/*обращение к элементу по ID*/
#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #071766;
}
