main {
  background-color: #1e1f29;
}

h1 {
  color: #fafafa;
  font-size: 36px;
  font-weight: bold;
  font-family: "Fira Sans", monospace;
}

input,
textarea,
select {
  background: #2e2d3d;
  color: #fafafa;
}

label {
  color: #afb2bf;
}

button {
  background-color: #6c38cc;
  color: #fafafa;
}

/*Обращение по типу*/
input[type="email"] {
  background: red;
}
