* {
  font-family: sans-serif;
}

body {
  background-color: #0f0f14;
}

main {
  background-color: #1e1f29;
  border-radius: 10px;
  padding: 48px;
}

h1 {
  color: #fafafa;
  font-size: 36px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 0 0 32px 0;
}

input,
textarea,
select {
  background: #2e2d3d;
  color: #fafafa;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 27px 48px 12px;
  border-radius: 10px;
  border: none;
}

label {
  position: absolute;
  top: 12px;
  left: 48px;
  font-size: 12px;
  line-height: 120%;
  color: #afb2bf;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #4a4863;
  font-size: 16px;
}

button {
  background-color: #6c38cc;
  color: #fafafa;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

.field {
  margin-bottom: 16px;
  position: relative;
}

.field img {
  position: absolute;
  top: 17px;
  left: 16px;
}

/*Обращение по типу*/
/*
input[type="email"] {
  background: red;
}
*/

/*Выбор каждого n элемента. 
odd-нечетные
even-четные
3n-каждый третий
5-конкретно пятый элемент
ul li:nth-child(odd) {
  color: #4262ff;
}
*/

/*Добавлет псевдокласс после лемента. before - до
selection - кастомизирует выделение
a::after {
  color: red;
  content: " ! ";
}
*/

/*Выбор всех p которые не являются классом className
p:not(.className){

}
*/
/*
ul li:first-child {
  color: #4262ff;
}

ul li:last-child {
  color: red;
}
*/
