main {
  background-color: #1e1f29;
}

h1 {
  color: #fafafa;
  font-size: 36px;
  font-weight: bold;
  font-family: "Fira Sans", monospace;
}

input,
textarea,
select {
  background: #2e2d3d;
  color: #fafafa;
}

input:invalid {
  background: red;
}

input:valid {
  background: green;
}

label {
  color: #afb2bf;
}

button {
  background-color: #6c38cc;
  color: #fafafa;
}

/*Обращение по типу*/
/*
input[type="email"] {
  background: red;
}
*/

/*Выбор каждого n элемента. 
odd-нечетные
even-четные
3n-каждый третий
5-конкретно пятый элемент
ul li:nth-child(odd) {
  color: #4262ff;
}
*/

/*Добавлет псевдокласс после лемента. before - до
selection - кастомизирует выделение
a::after {
  color: red;
  content: " ! ";
}
*/

/*Выбор всех p которые не являются классом className
p:not(.className){

}
*/
/*
ul li:first-child {
  color: #4262ff;
}

ul li:last-child {
  color: red;
}
*/
