.footer {
    background-color: var(--color-footer);
}

.footer__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 60px 24px 100px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.footer__menu {
    display: flex;
    gap: 80px;
    margin-bottom: 48px;
}

.footer__menu-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-secondary);
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-link-hover);
}
