.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero_h1 {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: var(--color-text);
}

.hero_h1_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero_cta {
    display: flex;
    gap: 32px;
}

.button-more {
    text-align: center;
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }

    .hero_cta {
        justify-content: center;
    }

    .hero_h1 {
        text-align: center;
    }
}

@media (max-width: 640px) {
    .hero_h1 {
        font-size: 30px;
        line-height: 120%;
    }

    .hero__right {
        width: 100%;
    }

    .hero {
        padding: 0 24px;
    }
}

@media (max-width: 480px) {
    .hero_cta {
        gap: 16px;
    }
}